.text-center {
    text-align: center;
    button {
        margin-left: 1em;
    }
}
.add-row {
    width: 100%;
    text-align: right;
    margin-bottom: 2em;
    margin-top: 2em;
}
.save-delete {
    width: 100%;
    text-align: right;
    margin-top: 2em;
    button {
        margin-left: 1em
    }
}